beautifulsoup4==4.7.1
requests==2.22.0
configparser==3.7.4
numpy==1.22.0
selenium==3.141.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-HTTPAuth==3.2.4
Flask-JWT-Extended==3.13.1
flask-marshmallow==0.9.0
Flask-Migrate==2.0.2
Flask-RESTful==0.3.6
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Testing==0.6.1
future==0.17.1
Werkzeug==0.15.4
gunicorn==19.9.0